.container {
    min-height: calc(100vh - 120px);
    color: #495057;
    margin: 110px auto 0 auto;
    max-width: 1200px;
}
.image {
    width: 600px;
}

/* COMPONENTE */
.title {
    font-weight: 700;
    color: #737373;
}
.container__Component {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 1000px;
}
.form {
    width: 100%;
}
.alert__Success {
    border: 1px solid rgba(76, 149, 108, 0.7);
    color: #4c956c;
    background: rgba(76, 149, 108, 0.4);
    border-radius: 5px;
    top: 10px;
    left: 50px;
    right: 50px;
    padding: 5px 10px;
    z-index: 1;
}
.alert__Danger {
    border: 1px solid rgba(230, 57, 70, 0.7);
    color: #e63946;
    background: rgba(230, 57, 70, 0.4);
    border-radius: 5px;
    top: 10px;
    left: 50px;
    right: 50px;
    padding: 5px 10px;
    z-index: 1;
}

/* CABECERA CON INFORMACION PERSONAL */
.container__Header {
    width: 100%;
}
.container__Type_Applicant {
    width: 400px;
}
.label {
    width: 100%;
}
.container__Input_Type_Applicant {
    width: 100%;
}
.input__Type_Applicant {
    width: 100%;
}
.input__Type_Applicant:focus, .input__Quantity:focus, .input__Corporate_Name:focus, .input__User_Info:focus, .textarea:focus {
    outline-color: #e63946;
    width: 100%;
}
.container__Corporate_Name {
    width: 100%;
}
.label__Corporate_Name {
    width: 100%;
}
.container__Input_Corporate_Name {
    width: 100%;
}
.input__Corporate_Name {
    width: 100%;
}
.container__User {
    width: 100%; 
}
.container__User_Name {
    width: 100%; 
}
.container__Last_Name {
    width: 100%; 
}
.container__Input_User {
    width: 100%; 
}
.input__User_Info {
    width: 100%;
}

/* TABLA DE PRODUCTOS */
.subtitle {
    color: #737373;
}
.container__Table {
    width: 100%;
}
.container__Head {
    background: #e9ecef;
    height: 60px;
    width: 100%;
    font-weight: 600;
}

/* TITULOS DE LAS COLUMNAS */
.container__Tr {
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
}
.count {
    height: 60px;
    width: 5%;
    min-width: 50px;
}
.class {
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.category {
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.type {
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.manufacturer {
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.item{
    height: 60px;
    width: 20%;
    min-width: 200px;
}
.quantity{
    height: 60px;
    width: 10%;
    min-width: 100px;
}
.input__Quantity{
    border-radius: 5px;
    height: 50px;
    width: 100%;
}
.selling__Price{
    height: 60px;
    width: 15%;
    min-width: 150px;
}
.action{
    height: 60px;
    width: 8%;
    min-width: 80px;
}
.button__Delete {
    color: #6c757d;
    height: 35px;
    width: 25px;
    font-size: 14px;
}
.button__Delete:hover {
    transition: 300ms all ease;
    color: #e63946;
    cursor: pointer;
}

/* CONTENIDO DE LA TABLA */
.container__Body{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    width: 100%;
}
.message__Unrelated_Items {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 100%;
}
.container__Append {
    background: #e63946;
    color: white;
    padding: 10px 20px;
    width: 250px;
}
.container__Append:hover {
    cursor: pointer;
}

/* COMENTARIOS */
.continer__Comments {
    width: 100%;
}
.container__Textarea {
    width: 100%;
}
.textarea {
    max-height: 200px;
    width: 100%;
}

/* TERMINOS Y CONDICIONES */
.text__Accepted_Policy {
    max-width: 450px;
}
.link {
    font-weight: 600;
    color: #e4002b;
}
.link:hover {
    opacity: 0.75;
}
.checkbox {
    height: 35px;
    max-width: 35px;
}
.text__Danger_Accepted_Policy {
    top: 42px;
}

/* ENVIAR */
.button__Submit {
    padding: 7px 25px;
    letter-spacing: 1px;
    font-size: 18px;
    background: #e63946;
    color: #f8f9fa;
    transition: 300ms all ease;
}
.button__Submit:hover {
    cursor: pointer;
}