.topDriveGroup {
    font-weight: 700;
    color: #e4002b;
}
.main__Title {
    color: #495057;
}
.container__Trends {
    flex-wrap: wrap;
}
.container__Trend {
    height: 200px;
    width: 180px;
}
.trend {
    background: rgba(233, 236, 239, 0.3);
    border-radius: 50%;
    height: 170px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trend:hover {
    background: rgba(233, 236, 239, 1);
}
.image__Trend {
    height: 100px;
}
.title__Trend {
    color: #e4002b;
}
.background__Image {
    z-index: -1;
    top: 250px;
    right: 25%;
    width: 50%;
    color: rgba(233, 236, 239, 0.1);
}