.topDriveGroup {
    font-weight: 700;
    color: #e4002b;
}
.main__Title {
    color: #495057;
}
.container__Trends {
    min-height: 240px;
    flex-wrap: wrap;
}
.container__Trend {
    width: 180px;
}
.container__Image_Trend {
    background: rgba(233, 236, 239, 0.3);
    border-radius: 50%;
    height: 170px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__Image_Trend:hover {
    background: rgba(233, 236, 239, 1);

    image__Trend {
        transform: scale(1.05);
    }
}
.image__Trend {
    height: 100px;
}
.title__Trend {
    color: #e4002b;
    min-height: 65px;
    width: 180px;
}
.background__Image {
    z-index: -1;
    right: 25%;
    width: 50%;
    color: rgba(233, 236, 239, 0.1);
}